.cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 100px;
  width: 920px;
}

.cards__item {
  width: 240px;
  margin-top: 60px;
}

.cards__image {
  display: block;
  width: 160px;
  aspect-ratio: 1;
  margin: 0 auto 43px;
  border-radius: 50%;
}

.cards__title {
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.cards__description {
  text-align: center;
  line-height: 1.3;
  font-size: 18px;
}
