.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  padding: 30px 64px;
  background-color: var(--bg-light-grey);
  overflow: hidden;
}

.header__title {
  max-width: 730px;
  font-size: 102px;
  font-weight: 600;
  line-height: 1.0625;
  z-index: 3;
}

.header__subtitle {
  max-width: 388px;
  font-size: 18px;
  line-height: 1.38;
  z-index: 3;
}

.header__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__main-illustration {
  position: absolute;
  height: 80%;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: var(--color-accent);
  z-index: 1;
}
