.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.video__title {
  margin-top: 0;
  margin-bottom: 20px;
}

.video__subtitle {
  margin-top: 0;
  margin-bottom: 50px;
}

.video__iframes {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  margin-bottom: -60px;
}
